Serveur .NET/Authentication/Authentication/Server WCF IIS/Web References/WebReferenceJEE/SoapService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soapservice.com/" targetNamespace="http://soapservice.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="JMSException" type="tns:JMSException" />
  <xs:element name="SendFileForControl" type="tns:SendFileForControl" />
  <xs:element name="SendFileForControlResponse" type="tns:SendFileForControlResponse" />
  <xs:element name="SendResponseTraitement" type="tns:SendResponseTraitement" />
  <xs:element name="SendResponseTraitementResponse" type="tns:SendResponseTraitementResponse" />
  <xs:complexType name="SendResponseTraitement">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="SendResponseTraitementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseclass" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseclass">
    <xs:sequence>
      <xs:element minOccurs="0" name="FindEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cle" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JMSException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:string" />
      <xs:element minOccurs="0" name="linkedException" type="tns:exception" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="SendFileForControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="nameFile" type="xs:string" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="DecrypteString" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendFileForControlResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>