Client .NET/WpfFormLogin/Connected Services/AuthenticationReference/AuthenticationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server_WCF_IIS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server_WCF_IIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MSG">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op_infos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op_statut" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenUser" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfbase64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSG" nillable="true" type="tns:MSG" />
</xs:schema>