Client .NET/WpfFormLogin/Connected Services/AuthenticationReference/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server_WCF_IIS" />
      <xsd:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_LoginByPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginByPassword" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LoginByPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginByPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LoginByToken_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginByToken" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LoginByToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Dispatching_InputMessage">
    <wsdl:part name="parameters" element="tns:Dispatching" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Dispatching_OutputMessage">
    <wsdl:part name="parameters" element="tns:DispatchingResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LoadFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadFiles" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LoadFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="LoginByPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/LoginByPassword" message="tns:IAuthenticationService_LoginByPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/LoginByPasswordResponse" message="tns:IAuthenticationService_LoginByPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginByToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/LoginByToken" message="tns:IAuthenticationService_LoginByToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/LoginByTokenResponse" message="tns:IAuthenticationService_LoginByToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dispatching">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/Dispatching" message="tns:IAuthenticationService_Dispatching_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/DispatchingResponse" message="tns:IAuthenticationService_Dispatching_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/LoadFiles" message="tns:IAuthenticationService_LoadFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/LoadFilesResponse" message="tns:IAuthenticationService_LoadFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginByPassword">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/LoginByPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginByToken">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/LoginByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispatching">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/Dispatching" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFiles">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/LoadFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="BasicHttpBinding_IAuthenticationService" binding="tns:BasicHttpBinding_IAuthenticationService">
      <soap:address location="http://localhost:50882/AuthenticationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>