Client .NET/WpfFormLogin/Connected Services/AuthenticationReference/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server_WCF_IIS" />
  <xs:import schemaLocation="http://localhost:50882/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoginByPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginByPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginByTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dispatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server_WCF_IIS" minOccurs="0" name="msg" type="q1:MSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server_WCF_IIS" minOccurs="0" name="DispatchingResult" type="q2:MSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="files" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadFilesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>